* {
  /*border: 1px solid lavender;*/
}

html,
body {
  background-color: #fff;
  color: #212529;
  height: 100vh;
  text-align: center;
  width: 100%;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

#main {
  max-width: 1440px;
}

#headline {
  width: 100%;
  text-align: center;
}

#search {
  margin: 2em auto;
}

#albums {
  margin: 2em auto;
}

.album {
  padding: 1em 0;
  margin: 1em 0;
}

.album-title {
  font-size: 1.1em;
  min-height: 14%;
}

.cover-img {
  border: 1px solid #999;
}
