@import "~bootstrap/dist/css/bootstrap";

$main-color: #212529;
$main-bg-color: #fff;

html,
body {
  background-color: $main-bg-color;
  color: $main-color;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
}
